/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

$footer-height: 45px;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta, .date {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post {
  margin-bottom: 2rem;
  & > header {
    margin-bottom: 20px;
    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  p, ul, ol {
    margin-bottom: 3rem;
  }
  img.small {
    max-width: 300px;
    max-height: 300px;
  }
}

.pagination {
  margin-top: 0;
}

img {
  max-width: 100%;
}

header.header-main {
 margin-bottom: 3em;
 box-sizing: content-box;
 background-image: url(/img/background_header.gif);
 color: white;
 padding: 80px 0 20px 0;
 margin-bottom: 40px;

 div.profile-picture {
   margin-bottom: 20px;
 }

 h1 {
   font-size: 4.5em;
   font-weight: 500;
   margin-top: 0;
   margin-bottom: 10px;
 }

 h2 {
   font-size: 1.7em;
   font-weight: 200;
   margin-top: 0;
   margin-bottom: 20px;
 }
}

.profile-picture {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/img/profile.jpg);
  background-size: cover;
  background-position: 33% 0;
}

nav {
  background-color: rgba(0,0,0,0.2) !important;
  position: absolute !important;
  border: none !important;
  width: 100% !important;

  a {
    font-size: 1.5em !important;
    color: #c8c8c8 !important;
    letter-spacing: 0.7px !important;
    &:hover {
      background-color: rgba(255,255,255,0.2) !important;
    }
  }

  .active a {
    border-bottom: solid 1px white !important;
    background-color: rgba(255,255,255,0.08) !important;
  }
}

.site {
  color: #515151;
  font-size: 2rem;
  text-align: left;
  margin-bottom: $footer-height;
  a {
    color: #268bd2;
  }
  .more {
    color: #aaa;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #515151;
    font-weight: bold;
    margin-top: 0;
    & a {
      color: inherit;
    }
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
}

.resume-preview {
  width: 600px;
  max-width: 100%;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
}

.project-preview {
  width: 600px;
  max-width: 100%;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  .description {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
  img {
    width: 100%;
  }
}

footer {
  height: $footer-height;
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  box-sizing : border-box;
  border-top: 1px solid #e8e8e8;
  img {
    height: 25px;
  }
}


@media screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }
  .nav {
    a {
      color: white !important;
      font-size: 2em !important;
    }
    .active {
      a {
        text-decoration: underline !important;
        border-bottom: none !important;
        background-color: inherit !important;
        &:hover {
          background-color: rgba(255,255,255,0.2) !important;
        }
      }
    }
    // background-color: black !important;
  }
  .navbar-nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: rgba(0,0,0,0.5) !important;
  }
}
